Source: apkg-ex-template-variables
Section: debug
Priority: optional
Maintainer: Jakub Ružička <jru@debian.org>
Build-Depends: debhelper
Homepage: https://gitlab.nic.cz/packaging/apkg

Package: apkg-ex-template-variables
Architecture: all
Depends: bash
Description: testing package containing a single script
