Source: apkg
Section: python
Priority: optional
Maintainer: Jakub Ružička <jakub.ruzicka@nic.cz>
Build-Depends:
 debhelper (>= 12),
{%- if distro.match('debian <= 12', 'ubuntu <= 22.04') %}
 dh-python,
 python3-setuptools,
{%- else %}
 dh-sequence-python3,
 pybuild-plugin-pyproject,
 python3-hatchling,
{%- endif %}
 python3,
 python3-pytest,
Standards-Version: 4.6.1
Homepage: https://gitlab.nic.cz/packaging/apkg

Package: apkg
Architecture: all
Provides: python3-apkg
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: cross-distro packaging automation tool
 apkg is a minimalist cross-distro upstream packaging automation tool aimed at
 producing high quality native packages for many different OS
 distributions/packaging systems directly from upstream sources with minimum
 overhead while respecting individual distro's standards and policies.
